<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.bno.dto.UserInfo" alias="UserInfo" />
		<typeAlias type="com.bno.dto.TAManagement" alias="TAManagement"/> 
		<typeAlias type="com.bno.dto.SearchDto" alias="searchDto"/>
		<typeAlias type="com.bno.dto.BoardPager" alias="boardPager"/>
		<typeAlias type="com.bno.dto.JoinDto"	alias="JoinDto"/>
	</typeAliases>
</configuration>
