<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="TAManagement">
  
  <insert id="insertGto" parameterType="TAManagement">
  	
INSERT INTO TA_MANAGEMENT(
    TA_ID,
    U_ID,
    GTO,
    STATUS
)
values(
    TA_MANAGEMENT_SEQ.NEXTVAL,
    #{u_id},
    TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'),
    default
    )
  
  </insert>
  
  
  
  
  </mapper>