<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="user">
	
	
	
		<sql id="pagingHeader">
  SELECT * FROM (
  SELECT ROWNUM AS rn, A.* FROM (
  </sql>
  
  <sql id="pagingFooter">
  )A
  )WHERE rn BETWEEN #{start} AND #{end}
  </sql>
	
	  <sql id="search">
  	<choose>
 	<when test="searchSort !=''">
 	AND ${searchSort} LIKE '%' || #{searchVal} || '%'
 	</when> 
  	</choose>
  	</sql>
	
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="UserInfo">
	INSERT INTO USER_INFO(
	U_ID,
	U_EMAIL,
	U_PWD,
	U_NAME,
	U_POSITION,
	U_PHONE,
	DP_NAME
	)
	VALUES(
	USER_INFO_SEQ.NEXTVAL,
	#{u_email},
	#{u_pwd},
	#{u_name},
	#{u_position},
	#{u_phone},
	#{dp_name}
	)
	
	</insert>  
  
  	<!-- 이메일 중복체크 -->
  	<select id="idcheck" parameterType="UserInfo" resultType="int">
  	SELECT COUNT(*)
  	FROM USER_INFO
  	WHERE U_EMAIL = #{u_email}
  	
  	</select>
  	
  	<select id="userSelectOne" parameterType="UserInfo" resultType="UserInfo">
  		SELECT *
  		FROM USER_INFO
  		WHERE U_EMAIL = #{u_email}
  	
  	</select>
  	
  	<select id="selectAllUserList" resultType="UserInfo">
  	SELECT * 
  	FROM USER_INFO
  	
  	</select>
  	
  	<update id="userInfoUpdate">
  		UPDATE USER_INFO
  		SET U_PWD = #{u_pwd},
  		U_POSITION = #{u_position},
  		U_PHONE = #{u_phone}
  		WHERE U_ID = #{u_id}
  	</update>
  	
  	<select id="selectUserCount" parameterType="searchDto" resultType="int">
  	SELECT COUNT(*)
  	FROM (
  	SELECT U.U_NAME, U.DP_NAME, U.U_POSITION, T.GTO, T.STATUS, T.OW, T.WORKINGHOUR
	FROM USER_INFO U
	JOIN TA_MANAGEMENT T
	ON U.U_ID = T.U_ID )
  	WHERE 1 =1
  	<include refid="search"></include>
  	
  	</select>
  	
  	<select id="userAllList" parameterType="boardPager" resultType="JoinDto" >
	<include refid="pagingHeader"></include>
	SELECT U.U_NAME, U.DP_NAME, U.U_POSITION, U.U_ID
	FROM USER_INFO U
	JOIN TA_MANAGEMENT T
	ON U.U_ID = T.U_ID
  	WHERE 1 =1
  	<include refid="search"></include>
  	ORDER BY U_ID DESC
  	<include refid="pagingFooter"></include>
  	
  	
  	</select>
  	
  	
  	
  </mapper>